*{
    box-sizing: border-box;
}
div.con{
    display: flex;
    padding: 20px;
}
div.cn1{
    padding: 20px;
    border-radius: 6px;
    background-color: rgb(15, 16, 16);
}
div.cn2{
    padding: 20px;
}
div.red{
    height: 100px;
    width: 100px;
    background-color: red;
    border-radius: 50%;
}
div.yellow{
    height: 100px;
    width: 100px;
    background-color: yellow;
    border-radius: 50%;
}
div.green{
    height: 100px;
    width: 100px;
    background-color: green;
    border-radius: 50%;
}
div.red1{
    color: red;
}
div.yellow2{
    color: yellow;
}
div.green3{
    color: green ;
}

